<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <ul>
      <li>
        <a routerLink="">Home</a>
      </li>
      <li>
        <a routerLink="showmap">Show Map</a>
      </li>
      <li>
          <a routerLink="showemp">Show Employee</a>
        </li>
      <li>
        <a routerLink="addemp">Add Employee</a>
      </li>
      <li>
          <a routerLink="editemp">Edit Employee</a>
        </li>
      <li>
        <a routerLink="delemp">Delete Employee</a>
      </li>

      <li>
          <a routerLink="concepts">Show Concepts</a>
        </li>
      </ul>
</div>


<router-outlet></router-outlet>
